<section class="content-bg main-content">
    <div class="main">
        <article>
            <h1 class="title-page">
                User profile
            </h1>
            <div class="card">
                <div class="container-row">
                    <h2 class="title-card">Personal info</h2>
                </div>
                <form [formGroup]="createRestaurantForm" (ngSubmit)="addRestaurantForm()">
                    <div class="container-row space-between div-container">
                        <mat-form-field class="w32">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName">
                        </mat-form-field>
                        <mat-form-field class="w32">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName">
                        </mat-form-field>
                        <mat-form-field class="w32">
                            <mat-label>Phone</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                        <mat-form-field class="w32">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="container-row space-between div-container">
                        <mat-form-field class="w32">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city">
                        </mat-form-field>
                        <mat-form-field class="w32">
                            <mat-label>Street</mat-label>
                            <input matInput formControlName="street">
                        </mat-form-field>
                        <mat-form-field class="w32">
                            <mat-label>№</mat-label>
                            <input matInput formControlName="streetNumber">
                        </mat-form-field>
                        <mat-form-field class="w32">
                            <mat-label>Floor</mat-label>
                            <input matInput formControlName="floor">
                        </mat-form-field>
                        <mat-form-field class="w32">
                            <mat-label>Flat</mat-label>
                            <input matInput formControlName="flat">
                        </mat-form-field>
                    </div>
                    <div class="container-row end-flex mt15">
                        <button mat-raised-button class="btn-oringe" type="submit" matSuffix>Save<mat-icon
                                class="circle-green">arrow_forward</mat-icon></button>
                    </div>
                </form>
            </div>
        </article>
        <article class="card-basic">
            <div class="container-row dart-blue-title">
                Personal Information:
            </div>
            <div class="container-row">
                <div class="column w32">
                    <div class="container-row"><span class="orange-text">name:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">email:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">surName:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">lastName:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">phoneNumber:</span><span>(+1) 457 7845
                            2487</span></div>
                </div>
                <div class="column">
                    <div class="container-row"><span class="orange-text">addresses:</span><span>(+1) 457 7845
                            2487</span></div>
                    <div class="container-row"><span class="orange-text">street:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">city:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">state:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">zipCode:</span><span>(+1) 457 7845 2487</span>
                    </div>
                    <div class="container-row"><span class="orange-text">country:</span><span>(+1) 457 7845 2487</span>
                    </div>

                </div>
            </div>
        </article>
        <article class="card-basic">
            <div class="container-row dart-blue-title">
                My Order
            </div>
            <div class="container-row space-between row-order"><span class="orange-text">Plain
                    Pizza</span><span>#746815</span><span>24 Jun 2018, 09:30AM</span><span
                    class="secondary-text ">$28.58</span></div>
            <div class="container-row space-between row-order"><span class="orange-text">Plain
                    Pizza</span><span>#746815</span><span>24 Jun 2018, 09:30AM</span><span
                    class="secondary-text ">$28.58</span></div>
        </article>
        <article class="card-basic">
            <div class="container-row dart-blue-title">
                Address
            </div>
            <div class="container-row space-between row-order">
                <span> Spruce DriveBridgeville, Pennsylvania 15017,United States of America.</span><span
                    class="primary-text"> <button mat-icon-button color="warn">
                        <mat-icon>close</mat-icon>
                    </button></span>
            </div>
            <div class="container-row space-between row-order">
                <span> Spruce DriveBridgeville, Pennsylvania 15017,United States of America.</span>
                <span class="primary-text">
                    <button mat-icon-button color="warn">
                        <mat-icon>close</mat-icon>
                    </button>
                </span>
            </div>
            <div class="container-row end-flex">
                <div class="w32">
                    <button mat-button>
                        Add a New Address
                    </button>
                </div>
            </div>
        </article>
    </div>
</section>