<section class="main-section">
    <div class="close-btn">
      <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form [formGroup]="form">
      <div class="container">
        <h2 class="title">Guest</h2>
        <img src="../../../../assets/images/Logo.png" alt="logo" class="logo">
        <mat-form-field class="first-filed">
            <input matInput placeholder="First Name" formControlName="firstName">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <mat-form-field class="first-filed">
            <input matInput placeholder="Last Name" formControlName="lastName">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <mat-form-field class="first-filed">
            <input matInput placeholder="phone" formControlName="phone">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <mat-form-field class="first-filed">
            <input matInput placeholder="city" formControlName="city">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <mat-form-field class="first-filed">
            <input matInput placeholder="Street" formControlName="street">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <mat-form-field class="first-filed">
            <input matInput placeholder="no" formControlName="no">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <mat-form-field class="first-filed">
            <input matInput placeholder="floor" formControlName="floor">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <mat-form-field class="first-filed">
            <input matInput placeholder="flat" formControlName="flat">
            <!-- <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error> -->
          </mat-form-field>
          <div class="container-row">

              <mat-form-field>
                  <input matInput placeholder="note" formControlName="note">
                  <!-- <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error> -->
                </mat-form-field>
            </div>
  
        <div class="button">
          <button mat-button type="submit" class="btn"[disabled]="!form.valid" (click)="send()">send</button>
        </div>
        
      </div>
    </form>
  </section>