<div class="services-holder" *ngIf="(services | async) as observable">
    <div *ngFor="let service of observable.services" class="service" [routerLink]="getNavigationLink(service)"
        (click)="onClick(service)">
        <div class="image-holder">
            <img
            [src]="service.settings.settings?.img ? service.settings.settings.img : 'assets/images/no-image-icon-512x512-lfoanl0w.png'"
            alt="Organization Image">
        </div>
        
        <span class="title">{{service.settings.settings.title}}</span>
    </div>
</div>