.dynamic-outlet {
    width: 100%;

    .custom-mat-drawer {
        width: 700px;
        height: 100%;
    }
}

.table-menu-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;

    app-dynamic-menu {
        height: calc(100vh - 70px);
    }
}