<div class="dynamic-outlet">
    <mat-drawer-container autosize>
        <mat-drawer [opened]="dynamicService.isSidenavOpened()" hasBackdrop="false" class="custom-mat-drawer"
            [ngClass]="{'open': dynamicService.isSidenavOpen}" position="end">
            <app-dynamic *ngIf="dynamicService.formGroupProvider()?.htmlSettings"
                [settings]="dynamicService.formGroupProvider()?.htmlSettings"
                [formGroup]="dynamicService.formGroupProvider()"></app-dynamic>
        </mat-drawer>
        <mat-drawer-content>
            <app-dynamic-navbar *ngIf="dynamicService.formArrayProvider()?.htmlSettings?.navbar"
                [settings]="dynamicService.formArrayProvider()?.htmlSettings"></app-dynamic-navbar>
            <div class="table-menu-wrapper" *ngIf="dynamicService.formArrayProvider()">
                <div>
                    <ng-container *ngIf="dynamicService.formArrayProvider()?.htmlSettings.multipleView">
                        <app-dynamic-table *ngIf="dynamicService.view === 'table'"
                            [settings]="dynamicService.formArrayProvider()?.htmlSettings"
                            [formGroup]="dynamicService.formArrayProvider()"></app-dynamic-table>

                        <app-dynamic *ngIf="dynamicService.view !== 'table'"
                            [settings]="dynamicService.formArrayProvider()?.htmlSettings"
                            [formArray]="dynamicService.formArrayProvider()"></app-dynamic>
                    </ng-container>

                    <app-dynamic-table *ngIf="!dynamicService.formArrayProvider()?.htmlSettings.multipleView"
                        [settings]="dynamicService.formArrayProvider()?.htmlSettings"
                        [formGroup]="dynamicService.formArrayProvider()"></app-dynamic-table>
                </div>

            </div>
            <app-dynamic-menu></app-dynamic-menu>
        </mat-drawer-content>
    </mat-drawer-container>
</div>