@mixin custom-components-theme($theme) {
}
app-footer {
  background-color: #0080ff;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.organization {
  display: flex;
  align-items: center;
}

.team {
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
}