.row {
    background-color: transparent;
    height: 42px;
    overflow: hidden;

    .cell-row {
        height: 100%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        padding-top: 10px;
        position: relative;

        .fast-editor {
            width: calc(100% - 40px);

            .send-button {
                position: absolute;
                top: 0px;
                right: 30px;
            }
        }

        .editor-button {
            position: absolute;
            top: 0px;
            right: 2.5px
        }
    }
}

.row.selected {
    background-color: rgba(75, 137, 255, .5) !important;

}