<div *ngIf="hoverOrganizationsWidget" class="widget-positioner">
    <div class="organizations-wrapper" [ngClass]="{ 'active': hoverOrganizationsWidget }" (mouseenter)="cancelHidePopup()" (mouseleave)="scheduleHidePopup()">
        <div *ngFor="let org of organizations">
            <div class="organization" (click)="currentOrg = org">
                <img [src]="org.img" [ngClass]="{ 'selected': org.name === currentOrg.name }">
                <div class="org-short-info">
                    <span class="name"> {{org.name[org.language]}}</span>
                    <span class="email"> {{org.domain}}</span>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="static-widget" [ngClass]="{ 'hide': hoverOrganizationsWidget }" (mouseenter)="showPopup()" (mouseleave)="scheduleHidePopup()">
    <div class="organizations-wrapper">
        <div class="organization">
            <img [src]="currentOrg.img">
            <div class="org-short-info">
                <span class="name"> {{currentOrg.name[currentOrg.language]}}</span>
                <span class="email"> {{currentOrg.domain}}</span>
            </div>
        </div>
    </div>
</div>