<div class="menu-holder" [ngClass]="{ 'active hover': hoverMenu }" (mouseenter)="hoverMenu = true"
    (mouseleave)="hoverMenu = false">
    <div *ngFor="let item of menuItems">
        <div class="expandable-item">
            <mat-icon>{{item.icon}}</mat-icon>
            <span *ngIf="hoverMenu" [routerLink]="[item.path]" class="link">{{item.label}}</span>
            <mat-icon class="arrow-icon" (click)="panelOpenState = !panelOpenState">{{panelOpenState ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
        </div>
        <div class="expandable-content" *ngIf="panelOpenState">
            <div *ngFor="let sub of item.subMenus" class="expandable-item">
                <mat-icon>{{sub.icon}}</mat-icon> 
                <span *ngIf="hoverMenu" [routerLink]="[sub.path]" class="link">{{sub.label}}</span>
            </div>
        </div>
    </div>
    <div class="flex-spacer" (mouseenter)="hoverMenu = true" (mouseleave)="hoverMenu = false"></div>
</div>