<div class="menu-holder" [ngClass]="{ 'active': hoverMenu }" (mouseenter)="hoverMenu = true"
    (mouseleave)="hoverMenu = false">
    <div class="left-menu-container">
        <app-organizations-widget></app-organizations-widget>
        <div class="another-actions-wrapper">
            <div class="action employees" routerLink="/employees">
                <img
                    src="https://banner2.cleanpng.com/20180627/bxo/kisspng-business-teamwork-social-work-laborer-new-employee-5b3428661126c2.5623443215301448700703.jpg">
                <span>Employees</span>
            </div>
            <div class="action teams" routerLink="/teams">
                <img
                    src="https://img.freepik.com/premium-vector/male-female-icon-set-with-flat-vector-illustration_454824-501.jpg">
                <span>Teams</span>
            </div>
            <div class="action chats">
                <img src="https://cdn.pixabay.com/photo/2020/06/29/17/24/chat-5353507_960_720.png">
                <span>Chats</span>
            </div>
            <div class="services">
                <app-service-widget></app-service-widget>
            </div>

            <div class="action user">
                <app-user-panel-widget></app-user-panel-widget>
            </div>
        </div>


    </div>
    <div class="right-menu-container">
        <ng-container *ngFor="let item of menuItems">
            <div class="non-expandable-menu" *ngIf="!item.subMenus">
                <span class="link top-label" [routerLink]="item.path">{{item.label}}</span>
            </div>
            <div class="expandable-menu" *ngIf="item.subMenus" [ngClass]="{'active': expandedMenus[item.path]}">
                <div class="label" (click)="toggleMenu(item.path)">
                    <span>{{item.label}} <mat-icon>{{expandedMenus[item.path] ?
                            'arrow_drop_up' :
                            'arrow_drop_down'}}</mat-icon></span>

                </div>
                <div class="expandable-content" *ngIf="expandedMenus[item.path]">
                    <span class="link sub-label" *ngFor="let sub of item.subMenus">
                        {{sub.label}}
                    </span>
                </div>
            </div>
        </ng-container>

    </div>
</div>