<div class="wrapper" style="position:relative" *ngIf="(table | async) as t">
  <div class="header-container" matSort (matSortChange)="sortData($event)">
    <div *ngFor="let column of t['displayedColumns']; let i = index; let last = last" class="cell-header"
      [style.width.px]="column.width ? column.width : 250" [attr.data-cell-id]="i">
      <span [disabled]="!column.sortable" mat-sort-header="{{ column.data }}">{{ column.title }}</span>
      <div class="resize-handle" (mousedown)="startResizing($event, i, column)"></div>
    </div>
  </div>
  <div class="elements-container">
    <cdk-virtual-scroll-viewport itemSize="50" #viewport>
      <app-ultimate-slot  *cdkVirtualFor="let element of t['dataHolder']; let i = index; let last = last;" class="row"
        [settings]="settings" [dataHolder]="dataHolder" [dataSource]="dataSource" [control]="element" (click)="selectRow(element)" >
      </app-ultimate-slot>
    </cdk-virtual-scroll-viewport>
  </div>
</div>