<ng-container class="dynamic-table-virtual-scroll-container" *ngIf="(table | async) as t">
  <div class="elements-dynamic-table">
    <div class="headers-dynamic-table" *ngIf="settings.showHeaders">
      <div *ngFor="let column of t['displayedColumns']"
        [style.width.px]="column.width ? column.width : null">
        {{ column.title }}
      </div>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" #viewport class="scrolling-viewport" cdkScrollable>
      <div *cdkVirtualFor="let element of t['dataHolder']; let i = index; trackBy: trackById"
        (click)="selectRow(element)">
        <div class="row-dynamic-table">
          <app-ultimate-slot [settings]="settings" [dataHolder]="dataHolder" [dataSource]="dataSource"
            [control]="element"
            [ngClass]="{'selected-row': dynamicService.lastSelectedRow?._id === element.controls._id?.value}">
          </app-ultimate-slot>
        </div>
        <div *ngIf="settings.separator && settings.separator === i" class="separator-row"></div>

      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div *ngIf="count">{{(count|async)|json}}</div>
</ng-container>