<section>
    <div class="container-row submenu space-between">
        <div class="w32 name-page">
            Dashbord
        </div>
        <div class="breadcrums">
            <span class="primary-text">Home </span>
        </div>
    </div>
    <article class="containet-dashbord">
        <div class="container-row gap20">
            <div class="card-order-list">
                <app-order-list></app-order-list>
            </div>
            <div class="card-foods-menu">
                general custom element 
                <div class="title-page">
                    title-page
                </div>
                <div class="title-card">title-card</div>
                <div class="primary-text">primary-text</div>
                <div class="secondary-text">
                    secondary-text
                </div>
                <div class="warn-text">
                    warn-text
                </div>
                <div class="dart-blue-title">
                    dart-blue-title
                </div>
                <div class="title-in-dialog">title-in-dialog</div>
                <div class="blue-grey-subtitle">
                    blue-grey-subtitle
                </div>
                <div class="dart-blue-text">
                    dart-blue-text
                </div>
                <div class="name-page">
                    name-page
                </div><br>
                <button mat-stroked-button class="stroke-btn-orange" type="button">stroke</button><br><br>
                <button mat-flat-button class="flat-btn-orange" type="button">flat</button>
            </div>
        </div>
    </article>
</section>