.containet-dashbord{
    padding: 20px;
}
.card-order-list{
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.card-foods-menu{
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 38%;
}